{%extends "layout.html"%}
{%block content%}
<div class="testhome">
</div>
<div class="about">
	<h1>About</h1>
	<div class="introduction">
	<div class="aboutButtonBox">
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickOne()"><span>How I got here</span></button>
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickTwo()"><span>My Previous Life</span></button>
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickThree()"><span>Interests</span></button>


	</div>

	<div class="aboutWordBox">
	<div class="nothidden" id="aboutIntroBlurb">
		<p class="aboutIntro" id=aboutBox><b>Click the Buttons on the Left to Discover More.</b></p>
		
	</div>

	<div class="hidden" id="aboutBlurbOne">
		<p>
			While working as a Client Service Advisor, I directly aided a corporate client in recovering over $100,000 in stolen funds after the CEO's email was compromised. That incident drew my interest towards Information Security. That interest became a hobby and then a passion. In 2020 I decided to realign my career towards tech while leveraging self-learning with traditional education.
		</p>
		<p class="highlightstext">Highlights Include:</p>
		<ul class="aboutList1">
  			<li>Achieving a 3.8 GPA in Ryerson’s Computer Security and Digital Forensics program.</li>
  			<li>Learning tools such as Snort, Wireshark, Autopsy, Splunk, and Volatility to review logs and disc images to identify, understand, prevent threats such as Brute Force Attacks, Malware Infections, and Policy Violations.</li>
  			<li>Building this site and configuring the cloud server it is hosted on</li>
		</ul>
	</div>

	<div class="hidden" id="aboutBlurbTwo">
		<p>
			Before learning to pursue a tech-focused career, I was a finance professional. I started as a part-time teller. Within five years, I was traveling across the states to meet with high-profile commercial clients and present treasury proposals.
		</p>
		<p class="highlightstext">Highlights Include</p>
		<ul class="aboutList2">
  			<li>Receiving the 2019 Q3 Spotlight Award for the assistance and service provided to critical clients during a complex product migration.</li>
  			<li>Educating and working with clients on setting up Admins, Approvers, and Users on BMO’s Online Banking for Business Platform to ensure sufficient internal controls and fraud prevention.</li>
  			<li>Preventing over two million dollars in fraud losses</li>
  			<li>Training New Coworkers</li>
		</ul>
	</div>

	<div class="hidden" id="aboutBlurbThree">
		<p>
			When not hunched in front of computer coding and hacking, you can find me partaking in any of the following activities:
		</p>
		
		<ul class="aboutList3">
  			<li>Boardgaming and online gaming with friends.</li>
  			<li>Camping and working on my off-grid tiny home cabin.</li>
  			<li>Taking care of my two rescue dogs, Norbert and Poe.</li>
  			<li>Reading a sci-fi or fantasy novel.</li>
  			<li>Playing guitar and waiting for concerts to come back.</li>
  			<li>Training at the gym.</li>
		</ul>
	</div>

	</div>
	</div>	
	</div>
</div>
{%endblock%}
