{%extends "layout.html"%}
{%block content%}


<div class="testhome">
</div>	
<div class="home">
	<div class="scontent">
	<h1>Thank you for visiting my website.
</h1>
	<div class="introduction">
	
	<img src="static/pics/profile.jpg" class="propic">
	
	<div class="introblurbs">
	<p class="intro">Not only is the website built by me, but it is also hosted on a cloud server I implemented and configured. </p>
	<p class="intro">This site exists as a portfolio and a testing ground for my Networking and Programming skill sets!</p>
	<p class="intro">I am currently looking for full-time work and projects to join. If you are looking for a passionate, fun-loving, security-focused professional, please reach out through LinkedIn. I love connecting with others in the industry.</p>


	</div>
	</div>
	
	</div>
</div>

{%endblock%}
