<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Flask App</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
	 <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>
<body>
	<header>
		<div class="container">
			<h1 class="logo">Mark Berg</h1>
			<strong><nav>
				<ul class ="menu">
					<li><a href="{{url_for('home')}}">Home</a></li>
					<li><a href="{{url_for('about')}}">About</a></li>
					<li><a href="{{url_for('eduCerts')}}">Education & Certs</a></li>
					<li><a href="{{url_for('skills')}}">Skills</a></li>
					<!--<li><a href="{{url_for('projects')}}">Projects</a></li>-->					
				</ul>
			</nav></strong>
		</div>
	</header>
	<div class="container">
		{%block content%}
		{%endblock%}
	</div>
</body>
<footer>
	<div class="container">
			<strong><nav>
				<ul class ="fmenu">
					<li><a href="https://www.linkedin.com/in/markcyberanalyst/" target="_blank"> My LinkedIn</a></li>
					<li><a href="https://github.com/smarkericmark" target="_blank">My GitHub</a></li>
			</nav></strong>
		</div>
<div class="trueBottom">
</div>

</footer>
</html>