{%extends "layout.html"%}
{%block content%}
<div class="testhome">
</div>
<div class="about">
	<h1>Projects</h1>
	<div class="introduction">
	<div class="aboutButtonBox">
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickOne()"><span>Button One</span></button>
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickTwo()"><span>Button Two</span></button>
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickThree()"><span>Button Three</span></button>


	</div>

	<div class="aboutWordBox">
	<div class="nothidden" id="aboutIntroBlurb">
		<p class="aboutIntro" id=aboutBox><b>This Page is Under Construction! Come Back Later</b></p>
		
	</div>

	<div class="hidden" id="aboutBlurbOne">
		
	</div>

	<div class="hidden" id="aboutBlurbTwo">
		
	</div>

	<div class="hidden" id="aboutBlurbThree">
		
	</div>

	</div>
	</div>	
	</div>
</div>
{%endblock%}