{%extends "layout.html"%}
{%block content%}
<div class="testhome">
</div>
<div class="about">
	<h1>Skills</h1>
	<div class="introduction">
	<div class="aboutButtonBox">
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickOne()"><span>Hard Skills</span></button>
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickTwo()"><span>Soft Skills</span></button>
		<button class="aboutButton" id="currentLifeB" onclick="aboutClickThree()"><span>Specifics</span></button>


	</div>

	<div class="aboutWordBox">
	<div class="nothidden" id="aboutIntroBlurb">
		<p class="aboutIntro" id=aboutBox><b>Click the Buttons on the Left to Discover More.</b></p>
		
	</div>

	<div class="hidden" id="aboutBlurbOne">
		<div class="skillList">
		<ul>
  			<li>Virtualization</li>
  			<li>Privilege Escalation</li>
  			<li>Fraud Investigation</li>
  			<li>Network Security</li>
  			<li>White Hat Hacking</li>
  			<li>Cloud Deployment & Security</li>
		</ul>
	</div>
	<div class="skillList">
		<ul>
  			<li>Client Research</li>
  			<li>Incident Response</li>
  			<li>IAM Implementation</li>
  			<li>Threat Knowledge</li>
  			<li>Data Analysis</li>
  			<li>Security Operations & Monitoring</li>
		</ul>
	</div>
	</div>

	<div class="hidden" id="aboutBlurbTwo">
		<div class="skillList">
		<ul>
  			<li>Public Speaking</li>
  			<li>Relationship Management
  			<li>Active Listeng</li>
  			<li>Googling</li>
  			<li>Friendliness</li>
  			<li>Mediation</li>
		</ul>
	</div>
	<div class="skillList">
		<ul>
  			<li>Curiosity</li>
  			<li>Self-management</li>
  			<li>Open-mindedness</li>
  			<li>Critical Thinking</li>
  			<li>Self-motivation</li>
  			<li>Enumeration</li>
		</ul>
	</div>
	</div>

	<div class="hidden" id="aboutBlurbThree">
		<div class="skillList">
		<ul>
  			<li>VMware</li>
  			<li>Active Directory</li>
  			<li>Google Cloud Platform(GCP)</li>
  			<li>Linux Servers</li>
  			<li>Splunk, Wireshark, Snort</li>
  			<li>HTML,CSS,Javascript</li>
		</ul>
	</div>
	<div class="skillList">
		<ul>
  			<li>Go</li>
  			<li>Python</li>
  			<li>NMAP & Nessus</li>
  			<li>Burpsuite</li>
  			<li>Autopsy & Volatility</li>
  			<li>Kali Linux</li>
		</ul>
	</div>
	</div>

	</div>
	</div>	
	</div>
</div>
{%endblock%}